<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link">
        
        <h4 class="demo fw-bolder ms-2" style="text-align: center;">Gestion des ventes</h4>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="/" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Customers</span>
      </li>
      <li class="menu-item">
        <a href="/customers" class="menu-link">
          <i class="menu-icon tf-icons bx bx-group"></i>
          <div data-i18n="Account Settings">Customer Information</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="/customerLedgers" class="menu-link">
          <i class="menu-icon tf-icons bx bx-money-withdraw"></i>
          <div data-i18n="Authentications">Customer Ledger</div>
        </a>
      </li>
      <!-- Products -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Products</span>
      </li>

     
      <li class="menu-item">
        <a href="/productsReturns" class="menu-link">
          <i class="menu-icon tf-icons bx bx-line-chart-down"></i>
          <div data-i18n="User interface">Product Return</div>
        </a>
      </li>

      <!-- Sales -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Sales</span>
      </li>
      
      <li class="menu-item">
        <a href="/salesActuals" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-shopping-bags"></i>
          <div data-i18n="Form Elements">Sales Actual</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="/salesReports" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-report"></i>
          <div data-i18n="Form Layouts">Sales Report</div>
        </a>
      </li>
      

      <!-- Invoices -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Invoices</span>
      </li>
      
      <li class="menu-item">
        <a href="/invoices" class="menu-link">
          <i class="menu-icon tf-icons bx bx-receipt"></i>
          <div data-i18n="Form Elements">Informations</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="/invoiceDetails" class="menu-link">
          <i class="menu-icon tf-icons bx bxs-receipt"></i>
          <div data-i18n="Form Layouts">Details</div>
        </a>
      </li>
      <!--Users
      <li class="menu-header small text-uppercase">
        <a href="/users" class="menu-link">
          <i class="menu-icon tf-icons bx bx-user"></i>
          <div data-i18n="Form Layouts">Users</div>
        </a>
      </li>-->
    </ul>
  </aside>