<div class="row">

    <!--Add Customers-->
    <div class="col-lg-4 col-md-12 col-6 mb-4">
      <div class="card">
        <a href="/customers">
        <div class="card-body" style="margin: auto;">
          <div class="card-title d-flex justify-content" >
            <div class="avatar flex-shrink-0"  style="margin: auto;">
              <img
                src="../assets/img/bxicons/bx-group.svg"
              />
            </div>
          </div>
          <span class="fw-bold d-block mb-1" style="font-size:22px;">Add Customers</span>
        </a>
        </div>
      </div>
    </div>
    <!--//Add Customers-->


    <!--Create New Sale-->
    <div class="col-lg-4 col-md-12 col-6 mb-4">
        <div class="card">
            <a href="/salesActuals">
          <div class="card-body" style="margin: auto;">
            <div class="card-title d-flex justify-content" >
              <div class="avatar flex-shrink-0"  style="margin: auto;">
                <img
                  src="../assets/img/bxicons/bx-purchase-tag.svg"
                />
              </div>
            </div>
            <span class="fw-bold d-block mb-1" style="font-size:22px;">View Sales</span>
        </a>
          </div>
        </div>
      </div>
      <!--//Create New Sale-->


    <!--Create New Invoice-->
    <div class="col-lg-4 col-md-12 col-6 mb-4">
        <div class="card">
            <a href="/invoices">
          <div class="card-body" style="margin: auto;">
            <div class="card-title d-flex justify-content" >
              <div class="avatar flex-shrink-0"  style="margin: auto;">
                <img
                  src="../assets/img/bxicons/bx-receipt.svg"
                />
              </div>
            </div>
            <span class="fw-bold d-block mb-1" style="font-size:22px;">Create New Invoice</span>
        </a>
          </div>
        </div>
      </div>
      <!--//Create New Invoice-->

      <!--Create Customer Ledger-->
      <div class="col-lg-3 col-md-12 col-6 mb-4">
        <div class="card">
            <a href="/customerLedgers">
          <div class="card-body" style="margin: auto;">
            <div class="card-title d-flex justify-content" >
              <div class="avatar flex-shrink-0"  style="margin: auto;">
                <img
                  src="../assets/img/bxicons/bx-money-withdraw.svg"
                />
              </div>
            </div>
            <span class="fw-bold d-block mb-1" style="font-size:22px;">Create Customer Ledger</span>
        </a>
          </div>
        </div>
      </div>
      <!--//Create Customer Ledger-->

      <!--Returned Products-->
      <div class="col-lg-3 col-md-12 col-6 mb-4">
        <div class="card">
            <a href="/productsReturns">
          <div class="card-body" style="margin: auto;">
            <div class="card-title d-flex justify-content" >
              <div class="avatar flex-shrink-0"  style="margin: auto;">
                <img
                src="../assets/img/bxicons/bx-line-chart-down.svg"
                />
              </div>
            </div>
            <span class="fw-bold d-block mb-1" style="font-size:22px;">View Returned Products</span>
        </a>
          </div>
        </div>
      </div>
      <!--//Returned Products-->
    

    <!--Create Sale Report-->
    <div class="col-lg-3 col-md-12 col-6 mb-4">
      <div class="card">
          <a href="/salesReports">
        <div class="card-body" style="margin: auto;">
          <div class="card-title d-flex justify-content" >
            <div class="avatar flex-shrink-0"  style="margin: auto;">
              <img
              src="../assets/img/bxicons/bxs-report.svg"
              />
            </div>
          </div>
          <span class="fw-bold d-block mb-1" style="font-size:22px;">View Sale Reports</span>
      </a>
        </div>
      </div>
    </div>
    <!--//Create Sale Report-->


    <!--Create Invoice Details-->
    <div class="col-lg-3 col-md-12 col-6 mb-4">
      <div class="card">
          <a href="/invoiceDetails">
        <div class="card-body" style="margin: auto;">
          <div class="card-title d-flex justify-content" >
            <div class="avatar flex-shrink-0"  style="margin: auto;">
              <img
                src="../assets/img/bxicons/bxs-receipt.svg"
              />
            </div>
          </div>
          <span class="fw-bold d-block mb-1" style="font-size:22px;">View Invoice Details</span>
      </a>
        </div>
      </div>
    </div>
    <!--//Create Invoice Details-->
      
    
</div>