<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- sideBar -->
    <%- include('../modules/_sidebar'); %>
    <!-- / sideBar -->
  
    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->
      <%- include('../modules/_navbar'); %>
      <!-- / Navbar -->
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row">

            <!--Total Customers-->
            <div class="col-lg-3 col-md-12 col-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                      <img
                        src="../assets/img/bxicons/bx-group.svg"
                        alt="chart success"
                        class="rounded"
                      />
                    </div>
                  </div>
                  <span class="fw-bold d-block mb-1" style="font-size:22px;">Total Customers</span>
                  <h3 class="card-title mb-2" style="text-align: center;">3</h3>
                  <!--<small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>-->
                </div>
              </div>
            </div>



              <!--Total Sales-->
              <div class="col-lg-3 col-md-12 col-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                      <div class="avatar flex-shrink-0">
                        <img
                          src="../assets/img/bxicons/bxs-shopping-bags.svg"
                        />
                      </div>
                      
                    </div>
                    <span class="fw-bold d-block mb-1" style="font-size:22px;">Total Sales</span>
                    <h3 class="card-title mb-2" style="text-align: center;">4</h3>
                    <!--<small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> +72.80%</small>-->
                  </div>
                </div>
              </div>


              <!--Total Invoices-->
              <div class="col-lg-3 col-md-12 col-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                      <div class="avatar flex-shrink-0">
                        <img
                          src="../assets/img/bxicons/bx-receipt.svg"
                        />
                      </div>
                    </div>
                    <span class="fw-bold d-block mb-1" style="font-size:22px;">Total Invoices</span>
                    <h3 class="card-title mb-2" style="text-align: center;">2</h3>
                    <!--<small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>-->
                  </div>
                </div>
              </div>



              <!--Total Product Return-->
              <div class="col-lg-3 col-md-12 col-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title d-flex align-items-start justify-content-between">
                      <div class="avatar flex-shrink-0">
                        <img
                src="../assets/img/bxicons/bx-line-chart-down.svg"
                />
                      </div>
                    </div>
                    <span class="fw-bold d-block mb-1" style="font-size:22px;">Total Product Returns</span>
                    <h3 class="card-title mb-2" style="text-align: center;">2</h3>
                    <!--<small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +72.80%</small>-->
                  </div>
                </div>
              </div>
              
            </div>


            
            
            
            
            <hr>
            <!--ADD-->
            <%- include('./_add'); %>
            
          






          </div>

          

           

           

        </div>
      </div><!-- / Content -->
    </div> 
  </div>
<!---->
</div>